block config
//  include config

doctype html

html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    title= `${pageTitle} | ${siteName}`
    // CSS
    block css
      link(rel="stylesheet", href="./../css/libraries.min.css")
      link(rel="stylesheet", href="./../css/base.css")
      link(rel="stylesheet", href="./../css/c-botones.css")
      link(rel="stylesheet", href="./../css/c-titulos.css")
      link(rel="stylesheet", href="./../css/c-header.css")
      link(rel="stylesheet", href="./../css/c-footer.css")

  body
    // HEADER
    append header
      include ./../pages/includes/header.pug

    // MAIN
    main
      block main

    // FOOTER
    append footer
      include ./../pages/includes/footer.pug

    // SCRIPTS
    script(src="./../js/jquery.min.js")
    script(src="./../js/libraries.min.js")
    script(src="./../js/app.min.js")
