@import 'colores.scss';
@import 'mixin.scss';

.blog-interna {
  .c-hero__imagen-bacteria {
    height      : 355px;
    width       : 100%;
    border-right: 0px solid white;
    overflow    : hidden;

    @include tablet-only {
      border-right: 10px solid white;
      overflow    : hidden;
    }

    @include pc {
      height      : 550px;
      width       : 100%;
      border-right: 100px solid white;
      overflow    : hidden;
    }

    img {
      height: auto !important;

      @include tablet_only {
        height: 100%;
      }

      @include pc {
        height: 100%;
      }
    }
  }



  .c-hero__texto {
    @include tablet {}

    @include pc {
      width: 450px;
    }

    @include hd {
      width: 540px;
    }
  }
}

.c-desinfecta {
  .container {
    @include mobile {
      max-width: 100%;
    }
  }

  h2 {
    line-height   : 40px;
    letter-spacing: 0.1px;
    font-size     : 28px;
  }

  @include tablet {
    padding-top: 50px;
  }

  p {
    color         : $color-parrafo;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
  }

  img {
    padding-bottom: 50px;
    padding-top   : 40px;
    margin        : 0 auto;
    display       : block;
  }
}
