@import 'colores.scss';
@import 'mixin.scss';

.c-clientes {
  background: $fondo-clientes;

  .c-titulo {
    p {
      font-size  : 14px;
      line-height: 20px;
      color      : $color-titulo;
    }
  }

  img {
    padding-bottom: 10px;

    @include tablet_only {}

    @include pc {
      padding-bottom: 30px;
    }
  }

  .owl-dots {
    text-align: center;
  }

  .owl-item>div {
    padding: 0;
  }

  .owl-theme .owl-dots .owl-dot span {
    width        : 20px;
    height       : 20px;
    background   : white;
    border       : 2px solid $color-menu-negro;
    display      : block;
    border-radius: 50%;
    margin       : 0 5px;

  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $color-menu-negro;
    border    : solid 2px $color-menu-negro;
  }

}
