@import 'colores.scss';
@import 'mixin.scss';

.c-hero-dos {
  flex-direction: column;

  @include tablet {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 555px;
  }

  @include pc {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 555px;
  }


  .c-hero-dos__imagen-bacteria {
    border-right: none;
    width       : 100%;
    height      : 100%;

    @include tablet {
      display: block;
    }

    @include pc {
      display: block;
    }

    .fondo {
      width : 100%;
      height: 100%;
    }
  }



  .c-hero-dos__contenedor-texto {


    @include tablet {
      background-color: white;
      padding         : 2rem;
      border          : solid white 1px;
      border-radius   : 0px 80px;
      width           : 668px;
      position        : absolute
    }

    @include pc {
      background-color: white;
      padding         : 2rem;
      border          : solid white 1px;
      border-radius   : 0px 80px;
      width           : 768px;
      position        : absolute
    }

    .c-hero__imagen-maquina {
      padding-right: 2rem;
    }

    .c-hero__texto {
      padding: 1rem;

      h2 {
        font-size     : 27px;
        padding-bottom: 15px;
        padding-top   : 15px;

        @include pc {
          font-size: 41px;

        }
      }

      span {
        color         : $color-azul-claro;
        font-size     : 14px;
        font-weight   : 800;
        line-height   : 18px;
        letter-spacing: 0.4px;
      }

      .buton {
        text-align: right;

      }
    }
  }

  .c-hero__imagen-maquina-doble {
    height    : 50%;
    text-align: center;



    @include tablet_only {
      display: none;

    }

    @include pc {
      display: none;
    }

    img {
      max-height: 100%;
    }


  }


}