@import 'colores.scss';
@import 'mixin.scss';

.c-higiene {
  position      : relative;
  padding-top   : 50px;
  padding-bottom: 50px;

  @include mobile {
    padding-top: 0;
  }

  .c-higiene__texto {
    h2 {

      font-size     : 22px;
      line-height   : 30px;
      font-weight   : bolder;
      color         : $color-titulo;
      padding-bottom: 10px;

      @include pc {
        font-size     : 28px;
        line-height   : 40px;
        font-weight   : bold;
        color         : $color-titulo;
        letter-spacing: 0.1px;

      }
    }

    p {
      font-size  : 16px;
      color      : $color-parrafo;
      padding-top: 0px;
      left       : 0.3px;

    }
  }

  .c-higiene__raya {
    border-bottom: 5px solid;
    width        : 30%;
    border-color : $color-azul-claro;

    @include tablet_only {
      display: block;
      width  : 30%;
    }

    @include pc {
      display: block;
      width  : 106px;

    }
  }

  .chigiene__imagen {
    display: none;

    @include tablet_only {
      display: block;
    }

    @include pc {
      display: block
    }

  }

  img {
    @include mobile {
      margin-top   : 3rem;
      margin-bottom: 1.5rem;
    }
  }

  .row.row-blog {
    @include mobile {
      flex-direction: column-reverse;

      img {
        margin-top   : 0;
        margin-bottom: 1.5rem;
      }
    }
  }
}
