/* colores */
$color-menu-azul  : #3C64B1;
$color-menu-negro : #000000;
$color-azul-oscuro: #071D4B;
$color-azul-claro : #2666E0;
$color-titulo     : #373F41;
$color-parrafo    : #737B7D;
$color-btn-verde  : #47FF91;
$fondo-clientes   :rgba(60, 100, 177, 0.06);
$caja-formulario  :#f4f5f4;
$color-boton-wtz  : #42f0bc;
