@import 'colores.scss';
@import 'mixin.scss';

.c-contactanos {
  .c-banner-titulo {
    height       : 254px;
    margin-bottom: auto;
  }

  .c-contactanos__portada {
    background-image: url(./../../img/home/mas.png);
    padding-bottom  : 100px;
    background-size : cover;
    margin-top      : 100px;

    .c-contactanos__titulo {
      font-size     : 44px;
      line-height   : 40px;
      padding-top   : 100px;
      padding-bottom: 100px;
      color         : white;


    }

    .form-item {
      padding-bottom: 1rem;

      input {
        background-color: $caja-formulario;
        border          : none;
        font-size       : 14px;
        line-height     : 20px;
      }

      textarea {
        background-color: $caja-formulario;
        border          : none;
        font-size       : 14px;
        line-height     : 20px;
      }

      .form-submit {
        border-radius   : 0;
        background-color: $color-boton-wtz;
        padding         : 15px;
        color           : #000;
        font-size       : 14px;
        line-height     : 18px;
        letter-spacing  : 0.3px;
        font-weight     : bold;
        height          : 48px;
        @include transition;

        &:hover {
          background-color: $color-azul-claro;
          @include transition;
        }

      }

      .form-control {
        border-radius: 0;
      }


    }

  }



  h2 {
    font-size     : 28px;
    line-height   : 40px;
    padding-top   : 70px;
    padding-bottom: 58px;
    color         : $color-titulo;

    @include tablet {
      font-size     : 25px;
      padding-top   : 70px;
      padding-bottom: 58px;
      color         : $color-titulo;
    }

    @include pc {
      font-size     : 28px;
      line-height   : 40px;
      padding-top   : 70px;
      padding-bottom: 58px;
      color         : $color-titulo;
    }
  }

  .form-item {
    padding-bottom: 1rem;

    input {
      background-color: $caja-formulario;
      border          : none;
      font-size       : 14px;
      line-height     : 20px;
    }

    textarea {
      background-color: $caja-formulario;
      border          : none;
      font-size       : 14px;
      line-height     : 20px;
    }

    .form-submit {
      border-radius   : 0;
      background-color: $color-menu-azul;
      padding         : 10px;
      color           : white;
      font-size       : 14px;
      line-height     : 18px;
      letter-spacing  : 0.3px;
      font-weight     : bold;
      height          : 48px;
      @include transition;

      &:hover {
        background-color: $color-boton-wtz;
        color           : white;
        @include transition;

      }

    }

    .form-control {
      border-radius: 0;
    }


  }

  .c-contacto__mapa {
    a {
      font-weight: bold;
      line-height: 22px;
      font-size  : 14px;
      color      : #000;
    }

    @include mobile {
      margin-bottom: 2rem;
    }
  }




}