@import 'colores.scss';
@import 'mixin.scss';

.c-proposito {
  margin-bottom: 0;
}

.c-equipos {
  img {
    margin       : 0 auto;
    display      : block;
    border-radius: 50%;

    @include tablet_only {
      padding: 1.5rem;
    }
  }

  h3 {
    font-size     : 28px;
    letter-spacing: 0.1px;
    color         : $color-titulo;
    margin-top    : 10px;
  }

  span {
    color: $color-parrafo;
  }

  p {
    color: $color-parrafo;
  }

  @include mobile {
    margin-bottom: 3rem;
    text-align   : center;
  }

  @include pc {
    padding: 0 20px;
  }

  @include hd {
    padding: 0 3rem;
  }
}

.c-higiene {
  .--mini-raya {
    border-bottom: 5px solid;
    width        : 70px;
    border-color : #2666E0;

    @include mobile {
      margin: 0 auto;
    }
  }
}