extends ./../templates/template.pug
append css
  link(rel="stylesheet", href="./../css/c-ultimas-notas.css")
  link(rel="stylesheet", href="./../css/c-higiene.css")
  link(rel="stylesheet", href="./../css/blog.css")

append main
  // content
  section.c-banner-titulo.position-relative
    .img-fondo.h-100
      img(src="../img/blog/image-blog.jpg", alt="img")
    .position-absolute.titulo.d-flex.align-items-center.w-100.h-100
      .container
        h1.text-center Hablemos de salud, limpieza e higiene.

  .c-higiene.container.pt-50.pb-50
    div.row.row-blog
      div.col-md-6.d-md-flex.flex-column.justify-content-center
        div.c-higiene__texto
          h2 En Sanitech nos tomamos muy en serio la desinfección y la higiene
          p Historia de sanitech y 99 technologies Lorem ipsum dolor sit amet consectetur adipisicing elit.Voluptatem unde, expedita natus, nulla rem Lorem ipsum dolor sit, amet adipisicing elit.Voluptatem unde, expedita
          p Voluptatem unde, expedita natus, nulla rem minima facere rerum, doloribus et tempore architecto nesciunt blanditiis optio nam adipisicing elit.Voluptatem unde, expedita
        div.c-higiene__raya.d-none.d-md-block
        a(href="./blog-interna.html").d-block.d-md-none.stretched-link.botones.--leer-mas.text-uppercase leer más
      div.col-md-6
        div
          img.img-fluid(src="./../img/home/maquina-laser.png", alt="")
      a(href="#").stretched-link.d-none.d-md-block

  .container
    .row
      article.notas-article.col-12.col-md-4
        img(src="https://i.picsum.photos/id/29/500/400.jpg", alt="").img-fluid.mb-3
        h3 Espacios saludables para todos en cada rincón de la ciudad
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis quam in sint quod quidem vero maiores magnam sed ullam!
        div.text-right
          a(href="./blog-interna.html").stretched-link.botones.--leer-mas.text-uppercase leer más
      article.notas-article.col-12.col-md-4
        img(src="https://i.picsum.photos/id/29/500/400.jpg", alt="").img-fluid.mb-3
        h3 La nutrición y la higiene - parte II (Cultura de limpieza en Lima)
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis quam in sint quod quidem vero maiores magnam sed ullam!
        div.text-right
          a(href="#").stretched-link.botones.--leer-mas.text-uppercase leer más

      article.notas-article.col-12.col-md-4
          img(src="https://i.picsum.photos/id/29/500/400.jpg", alt="").img-fluid.mb-3
          h3 Campaña: "Manos Limpias para todos" en el distrito de Cañete
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis quam in sint quod quidem vero maiores magnam sed ullam!
          div.text-right
            a(href="#").stretched-link.botones.--leer-mas.text-uppercase leer más

      article.notas-article.col-12.col-md-4
        img(src="https://i.picsum.photos/id/29/500/400.jpg", alt="").img-fluid.mb-3
        h3 Espacios saludables para todos en cada rincón de la ciudad
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis quam in sint quod quidem vero maiores magnam sed ullam!
        div.text-right
          a(href="#").stretched-link.botones.--leer-mas.text-uppercase leer más
      article.notas-article.col-12.col-md-4
        img(src="https://i.picsum.photos/id/29/500/400.jpg", alt="").img-fluid.mb-3
        h3 La nutrición y la higiene - parte II (Cultura de limpieza en Lima)
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis quam in sint quod quidem vero maiores magnam sed ullam!
        div.text-right
          a(href="#").stretched-link.botones.--leer-mas.text-uppercase leer más

      article.notas-article.col-12.col-md-4
          img(src="https://i.picsum.photos/id/29/500/400.jpg", alt="").img-fluid.mb-3
          h3 Campaña: "Manos Limpias para todos" en el distrito de Cañete
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae perspiciatis quam in sint quod quidem vero maiores magnam sed ullam!
          div.text-right
            a(href="#").stretched-link.botones.--leer-mas.text-uppercase leer más
