extends ./../templates/template.pug
append css
  link(rel="stylesheet", href="./../css/c-ultimas-notas.css")
  link(rel="stylesheet", href="./../css/c-hero.css")
  link(rel="stylesheet", href="./../css/blog-interna.css")

append main
  section.c-hero.position-relative.blog-interna.overflow-hidden
    .container-fluid.h-100
      .row.h-100
        div.col-md-6.d-flex.align-items-center.justify-content-end.pl-0.pr-0
          .c-hero__imagen-bacteria
            img.fondo(src="./../img/home/imagen-bacterias.png", alt="" title="")


        div.col-md-6.d-md-flex.align-items-center.flex-direction-column.c-hero__contenedor-texto
          div.c-hero__texto
            span JOSE RAMOS
            h2 Las ciudades que contaminan menos
            p Cuando se trata de poner reglas, los seres humanos somos muy productivos. Y si juntamos a un grupo selecto de estos y les ponemos el título de Comité Vecinal, la productividad se triplica. Es un echo sientifico.
            p En lo que fallamos es en entender que muchas de estas reglas noson leyes absolutas sino solamente fuertes  recomendaciones . por ejemplo, un letrero de "prohibido pisar el cesped" no indica que fisicamente no puedas hacerlo, pero sí te advierte que hacerlo esta sujeto a consecuencias poco agradables. Luego la realidad confirma que en la mayoria de los casos,no hay tales consecuensias, y si las ahy son muy leves en comparación a las ventajas.
  .c-desinfecta
    div.container
      div.row
        div.offset-lg-2.col-lg-8
          p Cuando se trata de poner reglas. Los seres humanos somos muy productivos. Y si juntamos a un grupo selecto de estos humanos y les ponemos el titulo de comite vecinal, la productividad se triplica. Es un echo sientifico.
          p En lo que fallamos es en entender que muchas de estas reglas noson leyes absolutas sino solamente fuertes  recomendaciones . por ejemplo, un letrero de "prohibido pisar el cesped" no indica que fisicamente no puedas hacerlo, pero sí te advierte que hacerlo esta sujeto a consecuencias poco agradables. Luego la realidad confirma que en la mayoria de los casos,no hay tales consecuensias, y si las ahy son muy leves en comparación a las ventajas.

          img.img-fluid(src="./../img/home/image-laser.png", alt="")
          div
            h2 Desinfecta más y contamina menos
            p Historia de sanitech y 99 technologies Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias eaque ipsam, officia praesentium doloremque dolores architecto id nisi sit. Fuga placeat necessitatibus ex assumenda explicabo. Accusamus laboriosam assumenda vitae.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum impedit dolor, officiis iste numquam quo consequuntur provident ad quas, pariatur quod.psum dolor sit amet consectetur.


            img.img-fluid(src="./../img/home/paisaje.jpg", alt="")
            h2 Salud y bienestar, lo primordial
            p Ahora preguntale si en todos sus  procesos ha realizado entrevistas o grupos focales,  y ha recogido insinghts que luego aplicó a su producto. Si es honesto de dirá que no, y no lo culpo. Las  investigaciones con usuarios son inportantícimas...siempre y cuando se agan correctamente, con eltiempo y los recursos adecuados. Y para esto se requiere harto compromiso del equipo y de la organizacion, ventajas con la qu pocos UXD cuentan
            p Pretender sacar insingths sobre la marcha y solo para cumplir con el protocolo es, por  lo menos, una perdida de tiempo. Y en  el peor de la cosas. es engañoso, pues  te da una falsa seguridad sobre la que construiras futuras experiencias.
            p Alternativas al contacto directo son el Desk Research,recojer la investigacion  que se hizo en otras etapas o realizar un expert review. incluso existen interfaces tan maduras(las de-comerce,por ejemplo) que basta con un buen  benchmark para tener un producto decente.
