extends ./../templates/template.pug
append css
  link(rel="stylesheet", href="./css/c-header.css")

append main
  .container.py-4
    hr
    .row
      .col-md-6
        h2.h5.font-weight-bold Pages
        ol
          li: a(href="./inicio.html") Inicio
          li: a(href="./nosotros.html") Nosotros
          li: a(href="./producto.html") Producto
            ol: li: a(href="./producto-interna.html") Producto interna
          li: a(href="./blog.html") Blog
            ol: li: a(href="./blog-interna.html") Blog interna
          li: a(href="./contactanos.html") Contáctanos
      .col-md-6
        h2.h5.font-weight-bold Components
        ol
          li: a(href="./components/c-header.html") c-header
          li: a(href="./components/c-hero.html") c-hero
          li: a(href="./components/c-hero-dos.html") c-hero-2
          li: a(href="./components/c-higiene.html") c-higiene
          li: a(href="./components/c-ultimas-notas.html") c-ultimas-notas
          li: a(href="./components/c-certificaciones.html") c-certificaciones
          li: a(href="./components/c-clientes.html") c-clientes
          li: a(href="./components/c-footer.html") c-footer
          li: a(href="./components/c-botones.html") c-botones
