extends ./../templates/template.pug
append css
  link(rel="stylesheet", href="./../css/nosotros.css")
  link(rel="stylesheet", href="./../css/c-higiene.css")
  //- link(rel="stylesheet", href="./../css/blog.css")
  link(rel="stylesheet", href="./../css/producto.css")


append main
  //- BANNER
  section.c-banner-titulo.position-relative
    .img-fondo.h-100
      img(src="../img/productos/image-producto1.png", alt="img")
    .position-absolute.titulo.d-flex.align-items-center.w-100.h-100
      .container
        h1.text-center Nuestros Productos

  //- NUESTRO PROPOSITO
  .c-higiene.c-higiene-producto.container
    div.row
      div.col-md-7.d-md-flex.flex-column.justify-content-center
        div.c-higiene__texto
          h2 Nuestro propósito
          p Historia de sanitech y 99 technologies Lorem ipsum dolor sit amet consectetur adipisicing elit.Voluptatem unde, expedita natus, nulla rem Lorem ipsum dolor sit, amet adipisicing elit.Voluptatem unde, expedita
          p Voluptatem unde, expedita natus, nulla rem minima facere rerum, doloribus et tempore architecto nesciunt blanditiis optio nam adipisicing elit.Voluptatem unde, expedita
        div.c-higiene__raya
      div.col-md-5
        div
          img.img-fluid(src="./../img/productos/bacterias.png", alt="")
  //- PRODUCTOS LINKS
  .container.c-productos-container: .row
    article.col-12.col-md-6.col-lg-4
      div.productos.position-relative
        img(src="./../img/productos/img-producto.png", alt="").img-fluid
        div.titulo-productos.position-absolute.d-flex.align-items-center.justify-content-center.w-100.h-100
          h3: a(href="producto-interna.html").stretched-link Lorem ipsum dolor sit.
    article.col-12.col-md-6.col-lg-4
      div.productos.position-relative
        img(src="./../img/productos/img-producto.png", alt="").img-fluid
        div.titulo-productos.position-absolute.d-flex.align-items-center.justify-content-center.w-100.h-100
          h3: a(href="producto-interna.html").stretched-link Lorem ipsum dolor sit.
    article.col-12.col-md-6.col-lg-4
      div.productos.position-relative
        img(src="./../img/productos/img-producto.png", alt="").img-fluid
        div.titulo-productos.position-absolute.d-flex.align-items-center.justify-content-center.w-100.h-100
          h3: a(href="producto-interna.html").stretched-link Lorem ipsum dolor sit.
    article.col-12.col-md-6.col-lg-4
      div.productos.position-relative
        img(src="./../img/productos/img-producto.png", alt="").img-fluid
        div.titulo-productos.position-absolute.d-flex.align-items-center.justify-content-center.w-100.h-100
          h3: a(href="producto-interna.html").stretched-link Lorem ipsum dolor sit.
    article.col-12.col-md-6.col-lg-4
      div.productos.position-relative
        img(src="./../img/productos/img-producto.png", alt="").img-fluid
        div.titulo-productos.position-absolute.d-flex.align-items-center.justify-content-center.w-100.h-100
          h3: a(href="producto-interna.html").stretched-link Lorem ipsum dolor sit.






