extends ./../templates/template.pug
append css
  //- link(rel="stylesheet", href="./../css/nosotros.css")
  //- link(rel="stylesheet", href="./../css/c-higiene.css")
  //- link(rel="stylesheet", href="./../css/blog.css")
  link(rel="stylesheet", href="./../css/producto-interna.css")
  link(rel="stylesheet", href="./../css/contactanos.css")

append main
  //- BANNER
  section.c-banner-titulo.position-relative
    .img-fondo.h-100
      img(src="img/productos/image-producto1.png", alt="img")
    .position-absolute.titulo.d-flex.align-items-center.w-100.h-100
      .container
        h1.text-center Nuestros Servicios

  .container-fuid
    a(href="#").boton-whatsapp
      i.fab.fa-whatsapp
      div.texto
        strong SOLICITA
        span  uno ahora

  //- Modelos y Tipos
  section
    .container.--servicios
      //- ARTICULOS DE PRODUCTOS
      .row.c-servicio
        div.col-md-5.col-lg-4
          img(src="img/servicios/servicio_1.png", alt="").img-fluid
        div.col-md-7.col-lg-8
          div
            h2 Domicilio: Casas y Departamentos
            p Bajada o texto sencillo que explica el giro del negocio
            ul.list-producto
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.

            div.botones-producto
              a(href="#").botones.--solicitud SOLICITAR
              a(href="#").botones.--info MÁS INFO
      //- ARTICULOS DE PRODUCTOS
      .row.c-servicio
        div.col-md-5.col-lg-4
          img(src="img/servicios/servicio_2.png", alt="").img-fluid
        div.col-md-7.col-lg-8
          div
            h2 Espacios: Colegios y Nidos
            p Bajada o texto sencillo que explica el giro del negocio
            ul.list-producto
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.

            div.botones-producto
              a(href="#").botones.--solicitud SOLICITAR
              a(href="#").botones.--info MÁS INFO
      //- ARTICULOS DE PRODUCTOS
      .row.c-servicio
        div.col-md-5.col-lg-4
          img(src="img/servicios/servicio_3.png", alt="").img-fluid
        div.col-md-7.col-lg-8
          div
            h2 Transporte: Bus o Avión
            p Bajada o texto sencillo que explica el giro del negocio
            ul.list-producto
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.

            div.botones-producto
              a(href="#").botones.--solicitud SOLICITAR
              a(href="#").botones.--info MÁS INFO

      .row.c-servicio
        div.col-md-5.col-lg-4
          img(src="img/servicios/servicio_4.png", alt="").img-fluid
        div.col-md-7.col-lg-8
          div
            h2 Empresas: Restaurantes y Hoteles
            p Bajada o texto sencillo que explica el giro del negocio
            ul.list-producto
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.
              li - Lorem ipsum dolor sit.

            div.botones-producto
              a(href="#").botones.--solicitud SOLICITAR
              a(href="#").botones.--info MÁS INFO
  div.c-contactanos
    div.c-contactanos__portada
      h2.c-contactanos__titulo.text-center Contactanos
      div.offset-md-3.col-md-6.offset-lg-4.col-lg-4
        form(action="")
          div.form-item
            input.form-control(type="text" name="nombre" required placeholder="Nombre")
          div.form-item
            input.form-control(type="text" name="Email" required placeholder="Email")
          div.form-item
            input.form-control(type="text" name="telefono" required placeholder="Teléfono")
          div.form-item.textarea
            textarea.form-control(rows="8" name="mensaje" placeholder="Quiero saber mas sobre...")
          div.form-item
            input.form-submit.btn-block.text-uppercase(type="submit")